/* Styles */

/*Masonry*/
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }


/*Fonts*/
.font-pacifico{
  font-family: 'Pacifico', cursive;
}

.font-sanchez{
  font-family: 'Sanchez', serif;
}

.font-gothic{
  font-family: 'Didact Gothic', sans-serif;
}